<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>New Supermarket</h2>

        <p th:text="'Name: ' + ${newSupermarket.getName()}"></p>
        <p th:text="'General manager: ' + ${newSupermarket.getGeneralManager().getFirstName()} + ' ' + ${newSupermarket.getGeneralManager().getSurName()}"></p>

        <p><a href="/">Back to home page</a></p>
    </body>
    </html>