<!-- Ibenhajene Sohaib r0883629 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Staff Registration</title>
</head>
<body>
    <h1>Staff Registration</h1>

    <form action="/submitstaff">
        <p>
            <label for="firstName">First name </label>
            <input type="text" name="firstName" id="firstName"/>
        </p>
        <p>
            <label for="lastName">Surname </label>
            <input type="text" name="lastName" id="lastName"/>
        </p>
        <p>
            <label for="startDate">Employed since (dd/mm/yyyy) </label>
            <input type="text" name="startDate" id="startDate"/>
        </p>
        <p>
            <input type="checkbox" name="isStudent" id="isStudent"/>
            <label for="isStudent"> working student?</label>
        </p>
        <p>
            <input type="submit" name="submit" value="Confirm staff member"/>
        </p>
    </form>

    <p><a href="/">Back to home page</a></p>
</body>
</html>