<!-- Ibenhajene Sohaib r0883629 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Show Supermarkets</title>
</head>
<body>
    <h2>Supermarkets (and number of departments):</h2>
    <ul>
        <li th:each="shop : ${supermarketList}">
            <a th:href="@{/10_show_departments(shopIndex=${shopStat.index})}"
               th:text="${shop.getName()} + ' (' + ${shop.getNumberOfDepartments()} + ') managed by ' + ${shop.getGeneralManager().getFirstName()} + ' ' + ${shop.getGeneralManager().getSurName()}"></a>
        </li>
    </ul>
    <p><a href="/">Back to home page</a></p>
</body>
</html>