/*add a self-selected stylesheet here*/
.homepageButtons{
    background-color: royalblue;
    color: white;
    border: 2px solid royalblue;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    display: inline-block;
}
.homepageButtons:hover{
    color: royalblue;
    background-color: white;
    transition: 0.5s;
}
.homeList{
    list-style-type: none;
    display: inline-block;
}
ul{
    padding-left: 0;
}
br{
    user-select: none;
}
#department_img{
    width: 160px;
}